<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/styles.css') }}">

        <!-- =====BOX ICONS===== -->
        <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
        <!-- <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'> -->

        <title>Portfolio website complete</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Rahul</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Rahul</span><br> HPC Systems <br> Engineer  </h1>

                    <a href="README.md" class="button" download="README.md">Download CV</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/rahul-ranjan-sinha-816673124/" target="_blank" class="home__social-icon"><i class='iconify' data-icon="la:linkedin-in"></i></a>
                    <a href="mailto:rahulranjansinha.ju@gmail.com" target="_blank" class="home__social-icon"><i class='iconify' data-icon="cib:gmail"></i></a>
                    <a href="https://github.com/ihsin" target="_blank" class="home__social-icon"><i class='iconify' data-icon="ant-design:github-outlined"></i></a>
                </div>

                <div class="home__img">    
                    <img src="{{ url_for('static',filename='styles/img/perfil.png') }}" alt="">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{{ url_for('static',filename='styles/img/about.jpg') }}" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Rahul</h2>
                        <p class="about__text">
                            I help scientists perform fast and reliable computations by providing them with clustered node architechtures. 
                            <br>I also implement solutions to manage workflow of their ongoing projects.
                            <br><br> I am a fan of containers, cloud and opensource.
                            <br> I am always ready for git collaborations. Ping me 
                        </p>
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">HPC Skills</h2>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify' data-icon="codicon:terminal-linux" data-width="26"></i>
                                <span class="skills__name">Redhat & Ubuntu</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">90%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="ant-design:schedule-filled"></i>
                                <span class="skills__name">LSF & Slurm</span>
                            </div>
                            <div class="skills__bar skills__lsf">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">70%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="simple-icons:ansys" ></i>
                                <span class="skills__name">HPCS Applications & License Support</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="simple-icons:powerbi"></i>
                                <span class="skills__name">Tableau & PowerBI</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="bx:bxl-aws"></i>
                                <span class="skills__name">AWS</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <h2 class="skills__subtitle">DevOps Skills</h2>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="codicon:terminal-bash"></i>
                                <span class="skills__name">Bash & Python Scripting</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">90%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="bx:bxl-docker"></i>
                                <span class="skills__name">Docker</span>
                            </div>
                            <div class="skills__bar skills__docker">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">75%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="fa-brands:jenkins" ></i>
                                <span class="skills__name">Jenkins</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="fa-brands:git-alt"></i>
                                <span class="skills__name">Git</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='iconify skills__icon' data-icon="cib:ansible"></i>
                                <span class="skills__name">Ansible</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div>              
                        <img src="../styles/img/work3.jpg" alt="" class="skills__img">
                    </div> -->
                </div>
            </section>


            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Send" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Rahul</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='iconify' data-icon="dashicons:facebook-alt"></i></a>
                <a href="#" class="footer__icon"><i class='iconify' data-icon="akar-icons:instagram-fill"></i></a>
                <a href="#" class="footer__icon"><i class='iconify' data-icon="akar-icons:twitter-fill"></i></a>
            </div>
            <p>&#169; 2020 copyright all right reserved</p>
            <p>Designed by Prachi Sinha</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static',filename='styles/js/main.js') }}"></script>
    </body>
</html>